@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn {
      @apply bg-purple text-primary active:bg-deep-purple-500 font-bold text-lg px-6 py-3 rounded-lg shadow hover:shadow-lg mr-1 mb-1 cursor-pointer border border-purple hover:bg-primary hover:text-purple;
  }
}

body{
  font-family: Inter, sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BB86FC;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
